/* Fonts */
@font-face {
  font-family: Integral;
  src: url('./assets/fonts/Integral-www.Dfonts.org/Webfont/IntegralCF-Bold.woff');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap');

/* Global styles */

* {
  margin: 0;
  box-sizing: border-box;
}
/* 
img {
  height: 50%;
  border-radius: 5px;
  box-shadow: 1px 10px 75px 10px #888;
} */

h1 {
  color: white;
  font-size: 80px;
  font-family: Integral, sans-serif;
}

h3 {
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-style: italic;
}

a:link {
  text-decoration: none;
}

a:hover {
  font-style: italic;
}

/* Classes */

/* Containers */
.welcome-container {
  position: relative;
  background-image: url('./assets/images/edwinsanvil-1.jpeg');
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.container {
  background-color: #ccc;
  color: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* PageHeader & NavBar */

.page-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin: 0;
  top: 0;
  background-color: #fff;
  height: 7.5vh;
  max-width: 100%;
  width: 100vw;
  z-index: 3;
}

.page-heading {
  display: flex;
  align-items: center;
  margin-left: 15px;
  color: #000;
  font-size: 24px;
}

.nav-bar {
  display: flex;
  align-items: center;
  margin-right: 5%;
  font-family: Integral, sans-serif;
  font-size: 18px;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-bar ul li {
  margin-right: 15px;
}

.nav-bar-button {
  border: none;
  background-color: inherit;
  color: #000;
  cursor: pointer;
  font-family: Integral, sans-serif;
  font-size: 24px;
}

.nav-bar-button:hover {
  color: #e25822;
  /* color: #d73502;
  color: #fc6400; */
}

/* Hero */
.intro-heading {
}

/* About */
.bibliography-section {
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
  padding-left: 15px;
}

.bibliography-copy {
  display: grid;
}

.bibliography-header {
  width: 300px;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
}

/* Other TBC */

.site-title {
  font-size: 110px;
  color: white;
}

.scroll-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 100px;
  color: #777;
}

.scroll-indicator:hover {
  color: #ccc;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  background-image: url('./assets/icons/chevron-down.png');
}
