/* Fonts */
@font-face {
  font-family: Integral;
  src: url('./assets/fonts/Integral-www.Dfonts.org/Webfont/IntegralCF-Bold.woff');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap');

/* Global styles */

* {
  margin: 0;
  box-sizing: border-box;
}

img {
  height: 50%;
  border-radius: 5px;
  box-shadow: 1px 10px 75px 10px #888;
}

h1 {
  font-size: 80px;
  font-family: Integral, sans-serif;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: italic;
}

a:link {
  text-decoration: none;
}

a:hover {
  font-style: italic;
}

/* Classes */

.container {
  background-color: rgba(17, 17, 17, 0.95);
  color: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.page-header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  top: 0;
  background-color: white;
  height: 100px;
  width: 100vw;
}

.nav-bar {
  display: flex;
  align-items: center;
  margin-right: 5%;
  font-family: Integral, sans-serif;
  font-size: 18px;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-bar ul li {
  margin-right: 15px;
}

.site-title {
  font-size: 110px;
  color: white;
}

.scroll-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 100px;
  color: #777;
}

.scroll-indicator:hover {
  color: #ccc;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  background-image: url('./assets/icons/chevron-down.png');
}

.second {
  background: hotpink;
}
